# Merging Two Data Frames

In [12]:
# import modules
import pandas as pd


staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},{'Name': 'Sally', 'Role': 'Course Liason'},
                        {'Name': 'James', 'Role': 'Grader'}])

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},{'Name': 'Mike', 'School': 'Law'},
                        {'Name': 'Sally', 'School': 'Engineering'}])

# set the Name as the index

student_df = student_df.set_index('Name')
staff_df = staff_df.set_index('Name')

In [13]:
# Syntax
#inner join = intersection
merge1 = pd.merge(staff_df,student_df, how = 'outer', left_index = True , right_index = True) 
merge1

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally   Course Liason  Engineering

In [15]:
# Syntax
#inner join = intersection
merge2 = pd.merge(staff_df,student_df, how = 'outer', left_index = True , right_index = True) 
merge2

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally   Course Liason  Engineering

In [16]:
# left join to get only all staff
#left join to only get the staff

merge3 = pd.merge(staff_df,student_df, how = 'inner', left_index = True , right_index = True) 
merge3

                Role       School
Name
Sally  Course Liason  Engineering
James         Grader     Business

In [17]:
# right join to get only all staff
#right join to only get the staff

merge4 = pd.merge(staff_df,student_df, how = 'right', left_index = True , right_index = True) 
merge4

                Role       School
Name
James         Grader     Business
Mike             NaN          Law
Sally  Course Liason  Engineering

In [19]:
# in the case where more than one key is neccesary for the join , you need to use a list of the intems to right join
# or left join 
mergetwo = (pd.merge(staff_df,student_df, how = 'inner', left_on = ['FirtName','Last Name'], 
                     right_on=['First Name','Last Name']))

KeyError: 'First Name'

# Apply Method

In [ ]:
import numpy as np

# Define a min max function

def min_max(row)
    data = row [['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Seris({'min': np.min(data), 'max' : np.max(data)})

In [ ]:
# df apply function 
df.apply( min_max, axis = 1) 
#axis =1 refers to the parameter of the index you use in this case to apply across all rows we pass axis = 1

In [ ]:
# apply functuion is typically sued with labmdas